.pricing{
    @apply flex justify-center flex-col items-center pb-[4.5rem];
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8rem;

    .add{
        @apply flex items-center gap-[1rem] mb-[2.75rem] mt-[1.875rem];
    }
    .toggle-wrapper{
        @apply w-[4.1875rem] h-[2.0625rem] rounded-[1.25rem] bg-[rgba(38,_87,_164,_0.5)] flex items-center;

        .toggle{
            @apply w-[2.25rem] h-[1.4375rem] bg-[rgba(38,_87,_164,_1)] rounded-[1.25rem] m-2;
        }
    }

    .price{
        @apply flex gap-[1rem];
    }
}

@media (max-width:1024px) {

    .pricing{
        @apply flex justify-center flex-col items-center pb-[4rem];
        h1{
            @apply text-[2.75rem];
        }
        .add{
            @apply flex items-center gap-[1rem] mb-[2.75rem] mt-[1.875rem];
        }
        .toggle-wrapper{
            @apply w-[4.1875rem] h-[2.0625rem] rounded-[1.25rem] bg-[rgba(38,_87,_164,_0.5)] flex items-center;
    
            .toggle{
                @apply w-[2.25rem] h-[1.4375rem] bg-[rgba(38,_87,_164,_1)] rounded-[1.25rem] m-2;
            }
        }
    
        .price{
            @apply flex gap-[1rem] flex-wrap px-8 justify-center;
        }
    }
}

@media (max-width:500px) {
    .pricing{
        @apply flex justify-center flex-col items-center pb-[3rem];
        h1{
            @apply text-[1.6rem] text-center mb-6;
        }
        .add{
            @apply hidden;
        }
        .toggle-wrapper{
            @apply hidden;
        }
    }
}