@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}
*{
  box-sizing: border-box;
}

.container{
  max-width: 80%;
  margin: 0 auto;
}

.hero-section{
  height: 100vh;
  width: 100%;
  background-image: url('/images/bgImage.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.header-wrapper{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (max-width:1024px) {
  .container{
      max-width: 95%;
  }


}

@media (max-width:900px) {
  .header-wrapper{
  padding-top: 1.5rem;
  }
  .hero-section{
    height: 70vh;
    width: 100%;
    background-image: none;
  }
}

@media (max-width:800px) {
  .header-wrapper{
  padding-top: 1.5rem;
  }
}

